$header-bg-color:#a0522d;
$sec-color:white;
$box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
$btn-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
$gradient: linear-gradient(rgba(250, 255, 255, 0.80));
$wp-color1:#25d366;
$wp-color2:#1ebe5d;
$wp-color3: #0fa047;